* {
  margin: 0;
  padding: 0;
  /* color: #ffe1ba; */
  color: white;
  overflow: hidden;
}

html {
  background-color: #f4ba6e;
}

canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container {
  max-width: 1200px;
  min-width: 400px;
  height: 100vh;
  padding: 10px 60px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo, .next {
  display: flex;
  align-items: center;
  line-height: 80px;
  margin-right: 100px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.watch, .cart {
  display: flex;
  align-items: center;
  line-height: 80px;
  padding: 10px;
  right: 0;
  cursor: pointer;
}

.watch {
  /* right: 220px; */
  align-self: center;
  font-family: helvetica;
  color: rgba(255, 255, 255, 0.788);
  font-weight: lighter;
  text-transform: uppercase;
}

.sidebar {
  display: flex;
  height: 70%;
  justify-content: space-between;
  align-items: center;
}

.right-sidebar {
  text-align: right;
}

.right-sidebar ul {
  list-style: none;
}

.middle-sidebar {
  flex: 0.7;
  height: 70%;
}

.title {
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 40px;
}

.right-sidebar li:not(:first-child) {
  padding: 6px 0;
  font-size: 16px;
  font-family: helvetica;
}

.right-sidebar ul li {
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1.6;
}

.right-sidebar ul li:hover {
  color: #000000;
  cursor: pointer;
  font-size: 18px;
}

.left-bottom {
  font-family: helvetica;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.788);
  text-transform: uppercase;
  font-size: 12px;
}

.left-sidebar {
  text-align: left;
  width: 300px;
}

.left-sidebar button {
  padding: 24px 48px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background: #101010;
  color: #fff;
  font-family: helvetica;
  font-weight: bolder;
  letter-spacing: 4px;
  transition: 0.35s;
  cursor: pointer;
}

.left-sidebar button:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.product-title {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.left-sidebar p {
  font-family: helvetica;
  font-weight: lighter;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.788);
  margin-top: 10px;
  margin-bottom: 10px;
}

#price {
  color: white;
}

.bottom {
  height: 20%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.media ul {
  list-style: none;
}

.media ul li {
  display: inline-block;
}


.media ul li:not(:last-child) {
  padding-right: 40px;
}

.media ul li i {
  color: #FFFFFF;
  transition: color 0.5s;
  cursor: pointer;
}

.media ul li i:hover {
  color: #000000;
}

.color {
  display: flex;
}

.color_item {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.color_value {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  transition: all 0.1s;
}

.color_value:hover {
  width: 87%;
  height: 87%;
}

.color-1 {
  background-color: rgb(255, 92, 92);
}

.color-2 {
  background-color: rgb(255, 255, 123);
}

.color-3 {
  background-color: rgb(81, 232, 81);
}

.color-4 {
  background-color: rgb(144, 53, 235);
}
